---
dist: bionic # Ubuntu 18.04
language: minimal

matrix:
  include:
    - name: Linter-YAML (yamllint)
      language: python
      python: 3.8
      before_install:
        - pip install yamllint
      script:
        - yamllint --config-file ./example/.yamllint .

    - name: Linter-Python (pycodestyle)
      language: python
      python: 3.8
      before_install:
        - pip install --upgrade --force-reinstall pycodestyle
      script:
        - pycodestyle --config=./tox.ini .

    - name: Linter-Python (flake8)
      language: python
      python: 3.8
      before_install:
        - pip install --upgrade --force-reinstall flake8
      script:
        - flake8 --config=./tox.ini .

    - name: Linter-Python (mypy)
      language: python
      python: 3.8
      before_install:
        - pip install --upgrade --force-reinstall mypy
      script:
        - mypy --ignore-missing-imports .

    - name: Linter-Markdown (markdownlint)
      language: ruby
      rvm: 2.7.1
      before_install:
        - gem install mdl
      script:
        - mdl --style markdownlint.rb .

    - name: Linter-Dockerfile (hadolint)
      language: minimal
      services:
        - docker
      before_install:
        - docker pull hadolint/hadolint
      script:
        - >
          docker run --rm -i -v ${PWD}/.hadolint.yaml:/conf/hadolint.yaml:Z
          -e XDG_CONFIG_HOME=/conf hadolint/hadolint < Dockerfile
